<link rel="stylesheet" href="/app.css">

<div class="flex-container">
    <div class="container">
        <h1>Thank you for the registration !</h1>
		<p class="lead">We are working on some plan, and will notify you once it gets ready.</p>
		<p>Once again, Thank you <emph><%= entry%></emph></p>
    </div>
</div>