<link rel="stylesheet" href="/app.css">

<div class="flex-container">
    <div class="container">
        <h1>JOIN US For the FIGHT !</h1>
		<p class="lead">Enter your email to join <span><strong><%= data %></strong></span> others on our waitlist.</p>
        <form method="POST" action='/register'>
            <input type="email" name="email" class="form" placeholder="Your Email">
            <button>Join Now</button>
        </form>
    </div>
</div>

// http://i.imgur.com/BJP2Q1j.jpg